In [68]:
import pandas as pd 
import numpy as np
index_1 = ['day1', 'day2', 'day3']
data_1 = ['EDA', 'AD EDA', 'Scipy']

In [69]:
ser_1 = pd.Series(data=data_1)

In [70]:
ser_1

0       EDA
1    AD EDA
2     Scipy
dtype: object

In [71]:
type(ser_1)

pandas.core.series.Series

In [72]:
ser_1 = pd.Series(data=data_1,index=index_1)
ser_1

day1       EDA
day2    AD EDA
day3     Scipy
dtype: object

In [73]:
ser_1[0]

C:\Users\DELL\AppData\Local\Temp\ipykernel_10748\2280153091.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser_1[0]

'EDA'

In [74]:
ser_1.iloc[1]

'AD EDA'

In [75]:
ser_1.loc['day1']

'EDA'

## Ditionary

In [76]:
dict_1 = {'coke':2, 'juice':5, 'water':3}

In [77]:
ser_2 = pd.Series(data = dict_1)
ser_2

coke     2
juice    5
water    3
dtype: int64

In [78]:
## series to dictionary back 
backtodict = ser_2.to_dict()
backtodict

{'coke': 2, 'juice': 5, 'water': 3}

In [79]:
## To get the keys only 
ser_2.keys()

Index(['coke', 'juice', 'water'], dtype='object')

In [80]:
backtodict.keys()

dict_keys(['coke', 'juice', 'water'])

In [81]:
ser_2.values

array([2, 5, 3])

In [82]:
ser_2*2

coke      4
juice    10
water     6
dtype: int64

## Dataframe

In [83]:
np.random.seed(101)
data_2 = np.random.randint(0,101,size=(4,3))

In [84]:
data_2

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]], dtype=int32)

In [85]:
df = pd.DataFrame(data_2)
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [86]:
index_1 = ['q1','q2','q3','q4']
index_2 = ['2022','2023','2024']
df = pd.DataFrame(data_2,index=index_1,columns=index_2)
df

    2022  2023  2024
q1    95    11    81
q2    70    63    87
q3    75     9    77
q4    40     4    63

In [87]:
df.iloc[1]

2022    70
2023    63
2024    87
Name: q2, dtype: int32

In [88]:
df.loc['q2']

2022    70
2023    63
2024    87
Name: q2, dtype: int32

In [89]:
df.iloc[2,1]

np.int32(9)

In [90]:
l = [1,2.3,-89,'hi','5556',34]
l

[1, 2.3, -89, 'hi', '5556', 34]

In [91]:
## slicing 
l[:2]

[1, 2.3]

In [92]:
l[-1]

34

In [93]:
Revenues_20_p1 = {'q1': [23, 12, 54, 36], 'q2': [42,58,13,65]}
Revenues_20_p2 = {'q3': [16, 44, 18, 38], 'q4': [8, 16, 47, 84]}

In [94]:
df1 = pd.DataFrame(Revenues_20_p1)
df2 = pd.DataFrame(Revenues_20_p2)

In [95]:
df_merged = pd.concat([df1, df2],axis=1) ## axis = 1 column wise concatination
df_merged

   q1  q2  q3  q4
0  23  42  16   8
1  12  58  44  16
2  54  13  18  47
3  36  65  38  84

## Inner Merge

In [96]:
Groups_1 = {'Gr_SN': [1, 2, 3, 4], 'Group_Name': ['X','Lions','Y','ABC']}
Groups_2 = {'Gr_ID': [12, 1, 3, 15], 'Group_Name': ['Lions', 'Dev', 'Y', 'ZZZ']}

In [97]:
df1 = pd.DataFrame(Groups_1)
df2 = pd.DataFrame(Groups_2)

In [98]:
df1

   Gr_SN Group_Name
0      1          X
1      2      Lions
2      3          Y
3      4        ABC

In [99]:
df2

   Gr_ID Group_Name
0     12      Lions
1      1        Dev
2      3          Y
3     15        ZZZ

In [100]:
## join in SQL = Merge in pandas 
merged_inner  = pd.merge(df1,df2, how='inner',on='Group_Name')
merged_inner

   Gr_SN Group_Name  Gr_ID
0      2      Lions     12
1      3          Y      3

In [101]:
merged_left  = pd.merge(df1,df2, how='left',on='Group_Name')
merged_left

   Gr_SN Group_Name  Gr_ID
0      1          X    NaN
1      2      Lions   12.0
2      3          Y    3.0
3      4        ABC    NaN

In [102]:
## pandas built-in string methods
my_email = 'sample@gmail.com'
x = my_email.split("@")
x

['sample', 'gmail.com']

In [103]:
libraries  = pd.Series(['numpy','pandas','scipy','seaborn','234'])
libraries

0      numpy
1     pandas
2      scipy
3    seaborn
4        234
dtype: object

In [104]:
libraries.str.capitalize()

0      Numpy
1     Pandas
2      Scipy
3    Seaborn
4        234
dtype: object

In [105]:
libraries.str.upper()

0      NUMPY
1     PANDAS
2      SCIPY
3    SEABORN
4        234
dtype: object

In [106]:
libraries.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [107]:
libraries_2  = pd.Series(['nump,pandas,scipy','seaborn,seaborn,matplotlib'])
libraries_2

0             nump,pandas,scipy
1    seaborn,seaborn,matplotlib
dtype: object

In [108]:
libraries_2.str.split(',')

0             [nump, pandas, scipy]
1    [seaborn, seaborn, matplotlib]
dtype: object

In [109]:
libraries_2.str.split(',').str[0]

0       nump
1    seaborn
dtype: object

In [110]:
libraries_2

0             nump,pandas,scipy
1    seaborn,seaborn,matplotlib
dtype: object

In [111]:
libraries_2.str.split(',',expand=True)

         0        1           2
0     nump   pandas       scipy
1  seaborn  seaborn  matplotlib

In [112]:
lb_3 = pd.Series(['numpy      ','     pandas     ','sea;born'])

In [113]:
lb_3.str.strip().str.replace(';',"").str.upper()

0      NUMPY
1     PANDAS
2    SEABORN
dtype: object

In [114]:
def fix_ser(ser):
    print(ser)
    ser = ser.strip()
    ser = ser.replace(";","")
    ser = ser.upper()
    return ser
lb_3.apply(fix_ser)

numpy
     pandas
sea;born

0      NUMPY
1     PANDAS
2    SEABORN
dtype: object

In [115]:
df = pd.read_csv('imdb_top_1000_New-4.csv')
df

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
1,Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
2,Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000
3,Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000
4,The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
...,...,...,...,...,...,...,...,...,...
896,Hiroshima mon amour,1959,UA,90 min,90,Drama,7.9,28421,88300
897,Gravity,2013,UA,91 min,91,Drama,7.7,769145,274092705
898,Pink Floyd: The Wall,1982,UA,95 min,95,Drama,8.1,76081,22244207
899,Ivanovo detstvo,1962,UA,95 min,95,Drama,8.1,31728,102621
900,Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424

In [116]:
df.head(5)

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
1,Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
2,Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000
3,Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000
4,The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 0 to 900
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   901 non-null    object
 1   Released_Year  901 non-null    object
 2   Certificate    901 non-null    object
 3   Runtime        901 non-null    object
 4   Runtime2       901 non-null    int64
 5   Genre          901 non-null    object
 6   IMDB_Rating    901 non-null    float64
 7   No_of_Votes    901 non-null    int64
 8   Gross          901 non-null    int64
dtypes: float64(1), int64(3), object(5)
memory usage: 63.5+ KB

In [118]:
df.describe()

         Runtime2  IMDB_Rating   No_of_Votes         Gross
count  901.000000   901.000000  9.010000e+02  9.010000e+02
mean   123.772475     7.948391  2.852698e+05  6.463583e+07
std     27.889910     0.277229  3.357608e+05  1.064970e+08
min     45.000000     7.600000  2.508800e+04  1.305000e+03
25%    104.000000     7.700000  5.831400e+04  2.537520e+06
50%    120.000000     7.900000  1.434340e+05  2.018666e+07
75%    137.000000     8.100000  4.000490e+05  7.560549e+07
max    321.000000     9.300000  2.343110e+06  9.366622e+08

In [119]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Runtime2,901.0,1.237725e+02,2.788991e+01,45.0,104.0,120.0,137.0,321.0
IMDB_Rating,901.0,7.948391e+00,2.772287e-01,7.6,7.7,7.9,8.1,9.3
No_of_Votes,901.0,2.852698e+05,3.357608e+05,25088.0,58314.0,143434.0,400049.0,2343110.0
Gross,901.0,6.463583e+07,1.064970e+08,1305.0,2537520.0,20186659.0,75605492.0,936662225.0

In [120]:
df['Released_Year']

0      2003
1      2011
2      1973
3      1971
4      1971
       ...
896    1959
897    2013
898    1982
899    1962
900    1944
Name: Released_Year, Length: 901, dtype: object

In [121]:
cols = ['Runtime2','IMDB_Rating']
df[cols]

     Runtime2  IMDB_Rating
0         101          8.4
1         101          7.6
2         102          7.7
3         102          7.7
4         104          7.7
..        ...          ...
896        90          7.9
897        91          7.7
898        95          8.1
899        95          8.1
900        97          7.6

[901 rows x 2 columns]

In [122]:
df[['Runtime2','IMDB_Rating']]

     Runtime2  IMDB_Rating
0         101          8.4
1         101          7.6
2         102          7.7
3         102          7.7
4         104          7.7
..        ...          ...
896        90          7.9
897        91          7.7
898        95          8.1
899        95          8.1
900        97          7.6

[901 rows x 2 columns]

In [123]:
df

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
1,Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
2,Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000
3,Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000
4,The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
...,...,...,...,...,...,...,...,...,...
896,Hiroshima mon amour,1959,UA,90 min,90,Drama,7.9,28421,88300
897,Gravity,2013,UA,91 min,91,Drama,7.7,769145,274092705
898,Pink Floyd: The Wall,1982,UA,95 min,95,Drama,8.1,76081,22244207
899,Ivanovo detstvo,1962,UA,95 min,95,Drama,8.1,31728,102621
900,Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424

In [124]:
df['Runtime in hours'] = np.round(df['Runtime2']/60, 2)
df

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross,Runtime in hours
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481,1.68
1,Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123,1.68
2,Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000,1.70
3,Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000,1.70
4,The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710,1.73
...,...,...,...,...,...,...,...,...,...,...
896,Hiroshima mon amour,1959,UA,90 min,90,Drama,7.9,28421,88300,1.50
897,Gravity,2013,UA,91 min,91,Drama,7.7,769145,274092705,1.52
898,Pink Floyd: The Wall,1982,UA,95 min,95,Drama,8.1,76081,22244207,1.58
899,Ivanovo detstvo,1962,UA,95 min,95,Drama,8.1,31728,102621,1.58
900,Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424,1.62

In [127]:
df.drop('Runtime in hours', axis=1,inplace=True)
df

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
1,Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
2,Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000
3,Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000
4,The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
...,...,...,...,...,...,...,...,...,...
896,Hiroshima mon amour,1959,UA,90 min,90,Drama,7.9,28421,88300
897,Gravity,2013,UA,91 min,91,Drama,7.7,769145,274092705
898,Pink Floyd: The Wall,1982,UA,95 min,95,Drama,8.1,76081,22244207
899,Ivanovo detstvo,1962,UA,95 min,95,Drama,8.1,31728,102621
900,Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424

In [128]:
df

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
1,Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
2,Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000
3,Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000
4,The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
...,...,...,...,...,...,...,...,...,...
896,Hiroshima mon amour,1959,UA,90 min,90,Drama,7.9,28421,88300
897,Gravity,2013,UA,91 min,91,Drama,7.7,769145,274092705
898,Pink Floyd: The Wall,1982,UA,95 min,95,Drama,8.1,76081,22244207
899,Ivanovo detstvo,1962,UA,95 min,95,Drama,8.1,31728,102621
900,Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424

In [130]:
df = df.set_index('Series_Title')

In [131]:
df

,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
Series_Title,,,,,,,,
Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000
Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000
The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
...,...,...,...,...,...,...,...,...
Hiroshima mon amour,1959,UA,90 min,90,Drama,7.9,28421,88300
Gravity,2013,UA,91 min,91,Drama,7.7,769145,274092705
Pink Floyd: The Wall,1982,UA,95 min,95,Drama,8.1,76081,22244207
Ivanovo detstvo,1962,UA,95 min,95,Drama,8.1,31728,102621
Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424

In [ ]:
df.iloc[0] ## iloc for numberic index

Released_Year       2003
Certificate            A
Runtime          101 min
Runtime2             101
Genre             Action
IMDB_Rating          8.4
No_of_Votes       515451
Gross             707481
Name: Oldeuboi, dtype: object

In [ ]:
df.loc['Oldeuboi'] ## loc for lable index

Released_Year       2003
Certificate            A
Runtime          101 min
Runtime2             101
Genre             Action
IMDB_Rating          8.4
No_of_Votes       515451
Gross             707481
Name: Oldeuboi, dtype: object

In [134]:
df.iloc[4:15]

,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
Series_Title,,,,,,,,
The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
"Lock, Stock and Two Smoking Barrels",1998,A,107 min,107,Action,8.2,535216,3897569
Predator,1987,A,107 min,107,Action,7.8,371387,59735548
The Bourne Supremacy,2004,A,108 min,108,Action,7.7,434841,176241941
End of Watch,2012,A,109 min,109,Action,7.6,228132,41003371
Lethal Weapon,1987,A,109 min,109,Action,7.6,236894,65207127
Lon,1994,A,110 min,110,Action,8.5,1035236,19501238
Yjinb,1961,A,110 min,110,Action,8.2,111244,12100200
Gongdong gyeongbi guyeok JSA,2000,A,110 min,110,Action,7.8,26518,181855
Goldfinger,1964,A,110 min,110,Action,7.7,174119,51081062
Bonnie and Clyde,1967,A,111 min,111,Action,7.8,102415,17550941

In [137]:
df.drop('Lon',axis=0)

,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
Series_Title,,,,,,,,
Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000
Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000
The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
...,...,...,...,...,...,...,...,...
Hiroshima mon amour,1959,UA,90 min,90,Drama,7.9,28421,88300
Gravity,2013,UA,91 min,91,Drama,7.7,769145,274092705
Pink Floyd: The Wall,1982,UA,95 min,95,Drama,8.1,76081,22244207
Ivanovo detstvo,1962,UA,95 min,95,Drama,8.1,31728,102621
Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424

In [138]:
df.iloc[4:15]

,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
Series_Title,,,,,,,,
The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
"Lock, Stock and Two Smoking Barrels",1998,A,107 min,107,Action,8.2,535216,3897569
Predator,1987,A,107 min,107,Action,7.8,371387,59735548
The Bourne Supremacy,2004,A,108 min,108,Action,7.7,434841,176241941
End of Watch,2012,A,109 min,109,Action,7.6,228132,41003371
Lethal Weapon,1987,A,109 min,109,Action,7.6,236894,65207127
Lon,1994,A,110 min,110,Action,8.5,1035236,19501238
Yjinb,1961,A,110 min,110,Action,8.2,111244,12100200
Gongdong gyeongbi guyeok JSA,2000,A,110 min,110,Action,7.8,26518,181855
Goldfinger,1964,A,110 min,110,Action,7.7,174119,51081062
Bonnie and Clyde,1967,A,111 min,111,Action,7.8,102415,17550941

In [139]:
df = df.reset_index()
df

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
1,Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
2,Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000
3,Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000
4,The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
...,...,...,...,...,...,...,...,...,...
896,Hiroshima mon amour,1959,UA,90 min,90,Drama,7.9,28421,88300
897,Gravity,2013,UA,91 min,91,Drama,7.7,769145,274092705
898,Pink Floyd: The Wall,1982,UA,95 min,95,Drama,8.1,76081,22244207
899,Ivanovo detstvo,1962,UA,95 min,95,Drama,8.1,31728,102621
900,Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424

In [140]:
df.iloc[4:15]

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
4,The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
5,"Lock, Stock and Two Smoking Barrels",1998,A,107 min,107,Action,8.2,535216,3897569
6,Predator,1987,A,107 min,107,Action,7.8,371387,59735548
7,The Bourne Supremacy,2004,A,108 min,108,Action,7.7,434841,176241941
8,End of Watch,2012,A,109 min,109,Action,7.6,228132,41003371
9,Lethal Weapon,1987,A,109 min,109,Action,7.6,236894,65207127
10,Lon,1994,A,110 min,110,Action,8.5,1035236,19501238
11,Yjinb,1961,A,110 min,110,Action,8.2,111244,12100200
12,Gongdong gyeongbi guyeok JSA,2000,A,110 min,110,Action,7.8,26518,181855
13,Goldfinger,1964,A,110 min,110,Action,7.7,174119,51081062
14,Bonnie and Clyde,1967,A,111 min,111,Action,7.8,102415,17550941

In [141]:
df[df['IMDB_Rating']>8]

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
5,"Lock, Stock and Two Smoking Barrels",1998,A,107 min,107,Action,8.2,535216,3897569
10,Lon,1994,A,110 min,110,Action,8.5,1035236,19501238
11,Yjinb,1961,A,110 min,110,Action,8.2,111244,12100200
18,White Heat,1949,A,114 min,114,Action,8.1,29807,44908400
...,...,...,...,...,...,...,...,...,...
877,Pink,2016,UA,136 min,136,Drama,8.1,39216,1241223
881,Forrest Gump,1994,UA,142 min,142,Drama,8.8,1809221,330252182
892,Kis Uykusu,2014,UA,196 min,196,Drama,8.1,46547,165520
898,Pink Floyd: The Wall,1982,UA,95 min,95,Drama,8.1,76081,22244207
899,Ivanovo detstvo,1962,UA,95 min,95,Drama,8.1,31728,102621

In [142]:
df[df['Certificate']=='A']

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
1,Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
2,Enter the Dragon,1973,A,102 min,102,Action,7.7,96561,25000000
3,Dirty Harry,1971,A,102 min,102,Action,7.7,143292,35900000
4,The French Connection,1971,A,104 min,104,Action,7.7,110075,15630710
...,...,...,...,...,...,...,...,...,...
702,Trainspotting,1996,A,93 min,93,Drama,8.1,634716,16501785
703,In a Lonely Place,1950,A,94 min,94,Drama,8.0,26784,654600
704,El ngel exterminador,1962,A,95 min,95,Drama,8.1,29682,102221
705,Det sjunde inseglet,1957,A,96 min,96,Drama,8.2,164939,25000200
706,Detachment,2011,A,98 min,98,Drama,7.7,77071,71177

In [143]:
df[(df['Certificate']=='A') & (df['IMDB_Rating']>8)]

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
0,Oldeuboi,2003,A,101 min,101,Action,8.4,515451,707481
5,"Lock, Stock and Two Smoking Barrels",1998,A,107 min,107,Action,8.2,535216,3897569
10,Lon,1994,A,110 min,110,Action,8.5,1035236,19501238
11,Yjinb,1961,A,110 min,110,Action,8.2,111244,12100200
18,White Heat,1949,A,114 min,114,Action,8.1,29807,44908400
...,...,...,...,...,...,...,...,...,...
699,Jungfrukllan,1960,A,89 min,89,Drama,8.1,26697,1526000
701,Viskningar och rop,1972,A,91 min,91,Drama,8.1,30206,1742348
702,Trainspotting,1996,A,93 min,93,Drama,8.1,634716,16501785
704,El ngel exterminador,1962,A,95 min,95,Drama,8.1,29682,102221
705,Det sjunde inseglet,1957,A,96 min,96,Drama,8.2,164939,25000200

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 0 to 900
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   901 non-null    object
 1   Released_Year  901 non-null    object
 2   Certificate    901 non-null    object
 3   Runtime        901 non-null    object
 4   Runtime2       901 non-null    int64
 5   Genre          901 non-null    object
 6   IMDB_Rating    901 non-null    float64
 7   No_of_Votes    901 non-null    int64
 8   Gross          901 non-null    int64
dtypes: float64(1), int64(3), object(5)
memory usage: 63.5+ KB

In [146]:
df.sort_values('IMDB_Rating',ascending=False)

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
675,The Shawshank Redemption,1994,A,142 min,142,Drama,9.3,2343110,28341469
567,The Godfather,1972,A,175 min,175,Crime,9.2,1620367,134966411
570,The Godfather: Part II,1974,A,202 min,202,Crime,9.0,1129952,57300000
610,12 Angry Men,1957,U,96 min,96,Crime,9.0,689845,4360000
149,The Dark Knight,2008,UA,152 min,152,Action,9.0,2303232,534858444
...,...,...,...,...,...,...,...,...,...
426,50/50,2011,R,100 min,100,Comedy,7.6,315426,35014192
109,Kick-Ass,2010,UA,117 min,117,Action,7.6,524081,48071303
105,Batoru rowaiaru,2000,UA,114 min,114,Action,7.6,169091,57938893
1,Serbuan maut,2011,A,101 min,101,Action,7.6,190531,4105123
900,Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424

In [ ]:
df.sort_values(['IMDB_Rating','No_of_Votes'])

,Series_Title,Released_Year,Certificate,Runtime,Runtime2,Genre,IMDB_Rating,No_of_Votes,Gross
393,The Long Goodbye,1973,A,112 min,112,Comedy,7.6,26337,959000
900,Lifeboat,1944,UA,97 min,97,Drama,7.6,26471,13780424
268,Omohide poro poro,1991,U,118 min,118,Animation,7.6,27071,453243
852,On Golden Pond,1981,UA,109 min,109,Drama,7.6,27650,119285432
765,Nelyubov,2017,R,127 min,127,Drama,7.6,29765,566356
...,...,...,...,...,...,...,...,...,...
610,12 Angry Men,1957,U,96 min,96,Crime,9.0,689845,4360000
570,The Godfather: Part II,1974,A,202 min,202,Crime,9.0,1129952,57300000
149,The Dark Knight,2008,UA,152 min,152,Action,9.0,2303232,534858444
567,The Godfather,1972,A,175 min,175,Crime,9.2,1620367,134966411
675,The Shawshank Redemption,1994,A,142 min,142,Drama,9.3,2343110,28341469

In [149]:
df['Gross'].max()

np.int64(936662225)

In [150]:
df['Gross'].idxmax()

83

In [151]:
df.iloc[83]

Series_Title     Star Wars: Episode VII - The Force Awakens
Released_Year                                          2015
Certificate                                               U
Runtime                                             138 min
Runtime2                                                138
Genre                                                Action
IMDB_Rating                                             7.9
No_of_Votes                                          860823
Gross                                             936662225
Name: 83, dtype: object

In [152]:
df['Genre'].value_counts()

Genre
Drama        270
Action       167
Comedy       140
Crime        104
Biography     82
Animation     74
Adventure     64
Name: count, dtype: int64

In [153]:
df['Released_Year'].value_counts()

Released_Year
2014    31
2004    30
2013    28
2006    26
2007    26
        ..
1938     1
1930     1
1937     1
1941     1
1932     1
Name: count, Length: 95, dtype: int64